body{
    font-family:Arial,sans-serif;
    text-align:center;
    transition:.4s;
}

body.beach
{
    background:#ffe8c4;
}

body.coconut
{
    background:#dff7df;
}

body.night_beach
{
    background:#111;
    color:white;
}

#board{
    width:min(90vw,600px);
    margin:25px auto;
    display:grid;
    gap:5px;
}

.tile{
    aspect-ratio:1;
    background-repeat:no-repeat;
    border-radius:8px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}

.tile span{
    font-size:clamp(18px,3vw,32px);
    font-weight:bold;
    color:white;
    background:rgba(0,0,0,.5);
    padding:3px 8px;
    border-radius:6px;
    text-shadow:2px 2px 3px black;
}

.empty{
    background:none;
    cursor:default;
}

button{
    padding:10px 18px;
    margin:5px;
    cursor:pointer;
}

.hint-tile
{
    animation: hintPulse 1s infinite;
}


@keyframes hintPulse
{
    0%
    {
        transform: scale(1);
    }

    50%
    {
        transform: scale(1.08);
    }

    100%
    {
        transform: scale(1);
    }
}

table{
    margin:auto;
    border-collapse:collapse;
}

td,th{
    border:1px solid gray;
    padding:8px;
}